@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1b1212;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
}

.playwrite-400 {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chivo-mono {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red-glow {
  background-color: red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.6),
    0 0 60px rgba(255, 0, 0, 0.4);
  animation: glow-red 1.5s ease-in-out infinite alternate;
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8), 0 0 40px rgba(255, 0, 0, 0.6),
      0 0 60px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 30px rgba(255, 0, 0, 1), 0 0 60px rgba(255, 0, 0, 0.8),
      0 0 90px rgba(255, 0, 0, 0.6);
  }
}
.green-glow {
  background-color: green;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.6),
    0 0 60px rgba(0, 255, 0, 0.4);
  animation: glow-green 1.5s ease-in-out infinite alternate;
}

@keyframes glow-green {
  0% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.6),
      0 0 60px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 1), 0 0 60px rgba(0, 255, 0, 0.8),
      0 0 90px rgba(0, 255, 0, 0.6);
  }
}
